@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!!</h1>
    <p>Here, New Employees can add their details and can search details of an Employee for a specified Employee Id</p>
</div>
